/**
 * Nancy Wheeler.
 */

@font-face {
    font-family: 'MeriendaOne';
    src: url('../fonts/MeriendaOne-Regular.ttf');
    src: url('../fonts/MeriendaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Julee-Regular';
    src: url('../fonts/Julee-Regular.ttf');
    src: url('../fonts/Julee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rochester-Regular';
    src: url('../fonts/Rochester-Regular.ttf');
    src: url('../fonts/Rochester-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alice-Regular';
    src: url('../fonts/Alice-Regular.ttf');
    src: url('../fonts/Alice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.ttf');
    src: url('../fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League-Gothic';
    src: url('../fonts/League-Gothic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

.greek {
	background-color: #F2E6CE;
	color: #8AB29F;
}
.greek h1 {
	font: bold 10em 'Droid Sans', sans-serif;
	-webkit-text-stroke: 0;
	color: transparent;
	-webkit-background-clip: text;
	background-color: rgba(82,96,117,0.8);
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-transition: text-shadow .1s ease-out,
						background-color .2s ease-out;
	margin-bottom: 0px;
	text-align:center;
}
.greek h2 {
	font-family: 'Alice-Regular', Arial, sans-serif;
	color: #606362;
	font-size: 40px;
    font-weight: 300;
    line-height: 1;
    text-align:center;
}
.greek h3 {
	color: #1D1D1F;
}

.winter-road {
	background-color: #181D26;
	color: #BFBD9F;
	font-size: 30px;
	line-height: 1.2;
}

.winter-road h1 {
	color: #F1F2D8;
	font-size: 80px;
    font-weight: 500;
    line-height: 1;
}

.winter-road h2 {
	color: #778C7A;
}

.winter-road h3 {
	color: #425955;
}

bold {
	color: #7A121B;
}

/**
 * Sadie Beth
 */
.contemporary-presentation {
	background-color: #D2D5D9;
	color: #9FA2A6;
	font-size: 30px;
	line-height: 1.2;
}

.contemporary-presentation h1 {
	color: #262626;
	font-size: 80px;
    font-weight: 500;
    line-height: 1;
}

.contemporary-presentation h2 {
	color: #404040;
}

.contemporary-presentation h3 {
	color: #6F736E;
}

/**
 * Sadie Beth
 */
.contemporary {
	background-color: #D2D5D9;
	color: #9FA2A6;
}

.contemporary h1 {
	color: #262626;
}

.contemporary h2 {
	color: #404040;
}

.contemporary h3 {
	color: #6F736E;
}




