/**
 * Nancy Wheeler.
 */
.california {
	background-color: #03658C;
	color: #022E40;
}
.california h1 {
	color: #F2B705;
}
.california h2 {
	color: #F28705;
}
.california h3 {
	color: #F25C05;
}

/**
 * Diane Steinberg.
 */
.beetle-bus-goes-jamba-juice {
	background-color: #730046;
	color: #BFBB11;
}
.beetle-bus-goes-jamba-juice h1 {
	color: #FFC200;
}
.beetle-bus-goes-jamba-juice h2 {
	color: #E88801;
}
.beetle-bus-goes-jamba-juice h3 {
	color: #C93C00;
}

/**
 * Philip Schweikert.
 */
.code-azur {
	background-color: #00585F;
	color: #009393;
}
.code-azur h1 {
	color: #FFFCC4;
}
.code-azur h2 {
	color: #F0EDBB;
}
.code-azur h3 {
	color: #FF3800;
}

/**
 * Maria Groenlund.
 */
.retro-package {
	background-color: #F2E6CE;
	color: #8AB29F;
}
.retro-package h1 {
	color: #606362;
}
.retro-package h2 {
	color: #593325;
}
.retro-package h3 {
	color: #1D1D1F;
}

/**
 * Heatherazz.
 */
.refreshing-melon {
	background-color: #F7E4A2;
	color: #A7BD5B;
}
.refreshing-melon h1 {
	color: #DC574E;
}
.refreshing-melon h2 {
	color: #8DC7B8;
}
.refreshing-melon h3 {
	color: #ED9355;
}

/**
 * Veerle.
 */
.veerle-stone-caseli {
	background-color: #BAD0C4;
	color: #3F4343;
}
.veerle-stone-caseli h1 {
	color: #CAD3A1;
}
.veerle-stone-caseli h2 {
	color: #F4F9EB;
}
.veerle-stone-caseli h3 {
	color: #8A2A37;
}

/**
 * Matthepworth
 */
.firenze {
	background-color: #468966;
	color: #FFF0A5;
}
.firenze h1 {
	color: #FFB03B;
}
.firenze h2 {
	color: #B64926;
}
.firenze h3 {
	color: #8E2800;
}

/**
 * Nicola Gilroy.
 */
.forever-autumn {
	background-color: #686B30;
	color: #AB9A52;
}
.forever-autumn h1 {
	color: #E8BA67;
}
.forever-autumn h2 {
	color: #D68F4F;
}
.forever-autumn h3 {
	color: #BA512E;
}

/**
 * Civil Sumo.
 */
.metropolitan {
	background-color: #CC3910;
	color: #F1F2C0;
}
.metropolitan h1 {
	color: #CCC59E;
}
.metropolitan h2 {
	color: #8FA68E;
}
.metropolitan h3 {
	color: #332F29;
}

/**
 * Xizzzy
 */
.sea-wolf {
	background-color: #DC3522;
	color: #D9CB9E;
}
.sea-wolf h1 {
	color: #374140;
}
.sea-wolf h2 {
	color: #2A2C2B;
}
.sea-wolf h3 {
	color: #1E1E20;
}

















