/**
 * Nancy Wheeler.
 */

@font-face {
    font-family: 'MeriendaOne';
    src: url('../fonts/MeriendaOne-Regular.ttf');
    src: url('../fonts/MeriendaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Julee-Regular';
    src: url('../fonts/Julee-Regular.ttf');
    src: url('../fonts/Julee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rochester-Regular';
    src: url('../fonts/Rochester-Regular.ttf');
    src: url('../fonts/Rochester-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alice-Regular';
    src: url('../fonts/Alice-Regular.ttf');
    src: url('../fonts/Alice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.ttf');
    src: url('../fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League-Gothic';
    src: url('../fonts/League-Gothic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

.greek {
	background-color: #F2E6CE;
	color: #8AB29F;
}
.greek h1 {
	font: bold 10em 'Droid Sans', sans-serif;
	-webkit-text-stroke: 0;
	color: transparent;
	-webkit-background-clip: text;
	background-color: rgba(82,96,117,0.5);
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-transition: text-shadow .1s ease-out,
						background-color .2s ease-out;
	margin-bottom: 0px;
}
.greek h2 {
	font-family: 'Alice-Regular', Arial, sans-serif;
	color: #606362;
	font-size: 40px;
    font-weight: 300;
    line-height: 1;
    text-align:center;
}
.greek h3 {
	color: #1D1D1F;
}
 
.california {
	background-color: #03658C;
	color: #022E40;
}
.california h1 {
	font-family: 'MeriendaOne', Arial, sans-serif;
	color: #F2B705;
	font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.california h2 {
	color: #F28705;
}
.california h3 {
	color: #F25C05;
}

/**
 * Philip Schweikert.
 */
.code-azur {
	background-color: #00585F;
	color: #009393;
}
.code-azur h1 {
	font-family: 'Rochester-Regular', Arial, sans-serif;
	color: #FFFCC4;
	font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.code-azur h2 {
	color: #F0EDBB;
}
.code-azur h3 {
	color: #FF3800;
}

/**
 * Maria Groenlund.
 */
.retro-package {
	background-color: #F2E6CE;
	color: #8AB29F;
}
.retro-package h1 {
	font-family: 'Alice-Regular', Arial, sans-serif;
	color: #606362;
	font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.retro-package h2 {
	color: #593325;
}
.retro-package h3 {
	color: #1D1D1F;
}

/**
 * Heatherazz.
 */
.refreshing-melon {
	background-color: #F7E4A2;
	color: #A7BD5B;
}
.refreshing-melon h1 {
	font-family: 'Lobster', Arial, sans-serif;
	color: #DC574E;
	font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.refreshing-melon h2 {
	color: #8DC7B8;
}
.refreshing-melon h3 {
	color: #ED9355;
}

/**
 * Veerle.
 */
.veerle-stone-caseli {
	background-color: #BAD0C4;
	color: #3F4343;
}
.veerle-stone-caseli h1 {
	font-family: 'League-Gothic', Arial, sans-serif;
	font-size: 150px;
    line-height: .81em;
    color: #0C0C0C;
    color: rgba(0,0,0,.95);
    text-shadow: 2px 2px 1px rgb(255, 255, 255), 4px 4px 0 rgb(187, 187, 187);
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 1), 4px 4px 0 rgba(187, 187, 187, .8);
}
.veerle-stone-caseli h2 {
	color: #F4F9EB;
}
.veerle-stone-caseli h3 {
	color: #8A2A37;
}

/**
 * Matthepworth
 */
.firenze {
	background-color: #468966;
	color: #FFF0A5;
}
.firenze h1 {
	color: #FFB03B;
}
.firenze h2 {
	color: #B64926;
}
.firenze h3 {
	color: #8E2800;
}

/**
 * Nicola Gilroy.
 */
.forever-autumn {
	background-color: #686B30;
	color: #AB9A52;
}
.forever-autumn h1 {
	color: #E8BA67;
}
.forever-autumn h2 {
	color: #D68F4F;
}
.forever-autumn h3 {
	color: #BA512E;
}

/**
 * Civil Sumo.
 */
.metropolitan {
	background-color: #CC3910;
	color: #F1F2C0;
}
.metropolitan h1 {
	color: #CCC59E;
}
.metropolitan h2 {
	color: #8FA68E;
}
.metropolitan h3 {
	color: #332F29;
}

/**
 * Xizzzy
 */
.sea-wolf {
	background-color: #DC3522;
	color: #D9CB9E;
}
.sea-wolf h1 {
	color: #374140;
}
.sea-wolf h2 {
	color: #2A2C2B;
}
.sea-wolf h3 {
	color: #1E1E20;
}

















