html {
	width: 100%;
	height: 100%;
}

body {
	font-family: helvetica, arial,sans-serif;
	line-height: 1.5em;
	background-color: #1b1b1b;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center -40px;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Lora', serif;
}
.page {
	position: relative;
	width: 100%;
	height: 640px;
}
.pagebody {
	position: absolute;
	width: 800px;
	height: 580px;
	left: 50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -290px
}

.greek .pagebody {
	width: 100%;
	left: 0;
	top: 20%;
	margin: auto;
}

.winter-road .page-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 10%;
	background-color: #778C7A;
	padding: 0;
	margin: 0;
}

.winter-road .pagebody {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 80%;
	padding: 0;
	margin: 0;
}

.winter-road .page-bottom {
	position: absolute;
	top: 90%;
	width: 100%;
	height: 10%;
	background-color: #778C7A;
	padding: 0;
	margin: 0;
}

.contemporary-presentation .page-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 10%;
	background-color: #6F736E;
	padding: 0;
	margin: 0;
}

.contemporary-presentation .pagebody {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 80%;
	padding: 0;
	margin: 0;
}

.contemporary-presentation .page-bottom {
	position: absolute;
	top: 90%;
	width: 100%;
	height: 10%;
	background-color: #6F736E;
	padding: 0;
	margin: 0;
}

.gallery {
	position: absolute;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	background-color: grey;
}

.gallery-description {
	position: absolute;
	top: 90%;
	height: 10%;
	width: 80%;
	margin-left: 10%;
	background-color: #444;
	color: #EEE;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	opacity: 0.9;
	z-index: 4;
}

.gallery-description p {
	font-size: 1.6em;
	vertical-align: text-bottom;
	margin: 0;
	padding: 10px;
}

.page1 {
	
}

#share {
	position: absolute;
	background-color: #abc;
	top: 400px;
	left: -250px;
	width: 250px;
	height: 90px;
	z-index: 2;
}
#button-share {
	position: absolute;
	top: 400px;
	z-index: 3;
}
.twitter-share-button {
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
#animation-div {
	position: absolute;
	top: 500px;
	left: 500px;
	width: 200px;
	height: 200px;
	background-color: #000000;
}
#popup{
	background-color: #000000;
	width: 250px;
	height: 60px;
	position: absolute;
	top: -85px;
	left: -15px;
	text-align: center;
	font-style: normal;
	z-index: 2;
	display: none;
}
#div1 {
	position: absolute;
	top: 200px;
	left: 200px;
	width: 50px;
	height: 50px;
	background-color: #555555;
}
#div2 {
	position: absolute;
	top: 200px;
	left: 500px;
	width: 50px;
	height: 50px;
	background-color: #555555;
}
#div3 {
	position: absolute;
	top: 200px;
	left: 800px;
	width: 50px;
	height: 50px;
	background-color: #555555;
}

.page2 .acceleo-planning {
	margin: 40px;
}

.page2 li {
	font-size: 40px;
}

.page3 .acceleo-presentation {
	margin: 40px;
}

.page3 {
	
}

.page4 .acceleo-history {
	margin: 40px;
}
.page4 li {
	font-size: 40px;
}

.page5 {
	
}

.page6 .gallery-page6-img1 {
	background-image: url('../images/page6/module.png');
}
.page6 .gallery-page6-img2 {
	background-image: url('../images/page6/template.png');
}
.page6 .gallery-page6-img3 {
	background-image: url('../images/page6/query.png');
}

.page-top {
	opacity: 0;
}

.page-bottom {
	opacity: 0;
}

.page7 .acceleo-main {
	margin: 40px;
}

.page7 .gallery-page7-img1 {
	background-image: url('../images/page7/main-module.png');
}

.page8 .acceleo-run {
	margin: 40px;
}

.page8 .gallery-page8-img1 {
	background-image: url('../images/page8/launch-configuration.png');
}

.page10 .acceleo-prototype {
	margin: 40px;
}

.page10 .gallery-page10-img1 {
	background-image: url('../images/page10/initialized-1.png');
}

.page11 .gallery-page11-img1 {
	background-image: url('../images/page11/code-completion.png');
}
.page11 .gallery-page11-img2 {
	background-image: url('../images/page11/error-detection.png');
}
.page11 .gallery-page11-img3 {
	background-image: url('../images/page11/quick-replacement-1.png');
}
.page11 .gallery-page11-img4 {
	background-image: url('../images/page11/as-for-if-1.png');
}
.page11 .gallery-page11-img5 {
	background-image: url('../images/page11/polymorphic-dispatch-1.png');
}
.page11 .gallery-page11-img6 {
	background-image: url('../images/page11/profiler.png');
}

.page12 .gallery-page12-img1 {
	background-image: url('../images/page6/module.png');
}
.page12 .gallery-page12-img2 {
	background-image: url('../images/page6/template.png');
}
.page12 .gallery-page12-img3 {
	background-image: url('../images/page6/module.png');
}
.page12 .gallery-page12-img4 {
	background-image: url('../images/page6/module.png');
}


.page13 .acceleo-debugger-interpreter {
	margin: 40px;
}

#interpreter-video {
	position: absolute;
	left: 20%;
	border: 2px solid #666;
}

.page14 .acceleo-ui-plugin {
	margin: 40px;
}

.page15 .acceleo-deploy {
	margin: 40px;
}

.page16 .acceleo-manage {
	margin: 40px;
}

.page17 .acceleo-maintain {
	margin: 40px;
}

.page18 .gallery-page18-img1 {
	background-image: url('../images/page18/netbeans.png');
}

.page19 .acceleo-traceability {
	margin: 40px;
}

.page21 .traceability-open {
	margin: 40px;
}

.page22 .traceability-real-time {
	margin: 40px;
}

.page23 .traceability-incremental {
	margin: 40px;
}

.page24 .traceability-user-code {
	margin: 40px;
}

.page25 .traceability-perspective {
	margin: 40px;
}

.page26 .traceability-unit-testing {
	margin: 40px;
}

.page27 .traceability-support {
	margin: 40px;
}

.page28 .acceleo-3-2 {
	margin: 40px;
}






